modules = ["nodejs-20"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"

[[ports]]
localPort = 5173
externalPort = 8000

[[ports]]
localPort = 5174

[workflows]

[[workflows.workflow]]
name = "run node dev"
mode = "sequential"
author = 42759921

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd abcd  && pwd && npm run dev"
